:root {
  --bg: #eff8ce;
  --primary: #59a735;
  --secondary: #a9e14d;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: var(--bg);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header {
  background-color: var(--primary);
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--bg);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.scores {
  width: 80vw;
}
.top {
  margin-bottom: 2rem;
}
.result {
  background-color: var(--bg);
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.3);
  color: var(--primary);
}
#result {
  background-color: var(--bg);
  padding: 0.3rem;
  border-radius: 10px;
}
p {
  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 1rem;
}
.output {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.user {
  width: 30vw;
  height: 40vh;
  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.user .fas {
  font-size: 5rem;
  color: var(--bg);
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin: auto;
  margin-top: 4rem;
  gap: 2rem;
}
.ctr {
  width: 15rem;
  padding: 1rem;
  background-color: var(--bg);
  font-size: 4rem;
  text-align: center;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
}
#rock,
#paper,
#scissors {
  background-color: var(--bg);
  color: var(--primary);
}

@media screen and (max-width: 600px) {
  header {
    height: 2rem;
    font-size: 1.7rem;
  }
  .scores,
  .output {
    width: 100vw;
  }
  .scores {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user {
    width: 45vw;
    gap: 4rem;
  }
  p {
    width: 80%;
  }
  .user .fas {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ctr {
    width: 10rem;
    height: 3rem;
    padding: 1rem;
    font-size: 3rem;
  }
  .user {
    height: 30vh;
  }
}
